.about div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
  }
  
  .title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4rem;
    letter-spacing: 1px;
  }
  
  .about p {
    font-family: 'Mate SC', sans-serif, serif;
    text-align: center;
    line-height: 3rem;
    font-size: 2rem;
  }