@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px; 
}

body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to top, rgba(0,0,0, 0.9), rgba(0,0,0, 0.3)), url(../images/denver.jpg) center no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 120rem;
  width: 90%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li {
  list-style: none;
  transform: translateX(1rem);
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  from{

  }
  to{
    transform: translateX(0);
  }
} 

nav ul li a {
  padding: 2px 0;
  margin: 0 4rem;
  position: relative;
}

nav ul li a:last-child {
  margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #99ff99;
  left: 0;
  transform: scaleX(0);
  transition: all .7s;
}

nav ul li a::before{
  bottom: 0;
  transform-origin: center;
}

nav ul li a::after{
  bottom: 0;
  transform-origin: center;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
  transform: scaleX(1);
}

@keyframes slideIn {
  from{
    opacity: 0;
  }
  to{
    transform: translateX(0);
  }
}

.brand {
  text-transform: uppercase;
  font-family: 'Mate SC', sans-serif, serif;
  letter-spacing: 2px;
  font-size: 3rem;
  font-weight: 600;
  transform: translateX(-1rem);
  animation: slideIn 1s forwards;
}

.brand span {
  color: #99ff99;
}

/* -- Begin "about.html" animate */
.about {
  display: flex;
  justify-content: center;
  height: 30rem;
  width: 20rem;
  width: 60%;
  margin: 2rem auto;
  background-color: rgba(121, 121, 121, 0.8);
  border: 2px solid black;
  box-shadow: 16px 14px 20px #333;
  border-radius: 10px;
  transform: translateY(-1rem);
  animation: slideIn 1s forwards, blink 6s infinite 1s;
}

@keyframes blink {
  0% {
    border: 2px solid black;
  }
  50% {
    border: 2px solid #99ff99;
  }
  100% {
    border: 2px solid black;
  }
  
}
/* -- End "about.html"
  Start "contact.html" animate */
.outerwrapper {
  display: flex;
  justify-content: center;
  width: 20rem;
  width: 60%;
  margin: 2rem auto;
  background-color: rgba(121, 121, 121, 0.8);
  border: 2px solid black;
  box-shadow: 16px 14px 20px #333;
  border-radius: 10px;
  transform: translateY(-1rem);
  animation: slideIn 1s forwards, blink 6s infinite 1s;
}

@keyframes blink {
  0% {
    border: 2px solid black;
  }
  50% {
    border: 2px solid #99ff99;
  }
  100% {
    border: 2px solid black;
  }
  
}

.shape {
  margin: 1rem auto;
  padding: 1rem;
  border: 2px solid black;
  background-color: rgba(121, 121, 121, 1);
  font-weight: 600;
  transition: all .5s ease;
}

.shape:hover {
  border-radius: 20px;
  border: 2px solid black;
  background-color: #99ff99;
}
.shape:active {
  background-color: white;
}

/* -- End "contact.html"
  Start "experience.html" -- */
.project-container {
  display: flex;
  justify-content: center;
  width: 20rem;
  width: 60%;
  margin: 2rem auto;
  background-color: rgba(121, 121, 121, 0.8);
  border: 2px solid black;
  box-shadow: 16px 14px 20px #333;
  border-radius: 10px;
  transform: translateY(1rem);
  animation: slideIn 1s forwards, blink 6s infinite 1s;
}

@keyframes blink {
  0% {
    border: 2px solid black;
  }
  50% {
    border: 2px solid #99ff99;
  }
  100% {
    border: 2px solid black;
  }
  
}

.box img {
  margin: 1rem auto;
  border: 2px solid #99ff99;
  cursor: pointer;
  transition: all 0.5s ease;
}

.box img:hover {
  animation: shake 1s;
}

@keyframes shake {
  from, to {
    transform: rotate(0deg)
  }

  10%, 90% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(10deg);
  }
}

.button {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  padding: 1rem;
  width: 40%;
  border: 2px solid black;
  background-color: rgba(121, 121, 121, 1);
  font-size: 10pt;
  font-weight: 600;
  transition: all .5s ease;
}

.button:hover {
  border-radius: 20px;
  border: 2px solid black;
  background-color: #99ff99;
}
.button:active {
  background-color: white;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 6rem;
  background: gray;
}

footer .content {
  display: flex;
  margin: 7px;
  justify-content: space-between;
}

footer .content .media-icons a {
  height: 45px;
  width: 45px;
  display: inline-block;
  border-radius: 5px;
  border: 2px solid #222222;
  transition: all 0.3s ease;
}

.content .media-icons a:hover {
  border-color: #99ff99;
}

footer .content .media-icons img {
  display: flex;
  justify-content: center;
  margin: 2px auto;
  padding-top: 3px;
}

@media (min-width: 350px) and (max-width: 775px) {
  /* Main */
  /* navigation animation (exclude index html) */
  nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    margin-left: 8rem;
  }
  nav ul li {
    margin: 0;
  }
  nav ul li a {
    padding: 0;
  }
  /* About.html animation */
  .about {
    width: 100%;
  }
  .about .title {
    font-size: 18pt;
  }
  .about div p {
    font-size: 10pt;
  }
  /* Experience.html animation // images removal */
  .project-container {
    width: 95%;
  }
  .section_one {
    font-size: 10pt;
    padding: 2px;
  }
  .wrap-project .section_two {
    display: flex;
    flex-direction: column;
  }
  .section_two .box {
    display: flex;
    align-items: center;
  }
  .section_two .box h5 {
    display: flex;
    padding: 0 1rem 0;
  }
  .box img {
    display: none;
  }
  .button {
    width: 7rem;
    margin: 0;
  }
  /* Contact.html animation */
  .outerwrapper {
    display: block;
    margin: 1rem auto;
    width: 95%;
    overflow: auto;
  }
  .shape {
    margin: 1rem auto;
  }
  .contact .title-center {
    font-size: 18pt;
  }
  .outerwrapper .contact p {
    font-size: 10pt;
    line-height: normal;
  }
  .contact form {
    display: block;
    margin: 0;
  }
  .contact form label, legend {
    font-size: 10pt;
  }
  textarea {
    resize: none;
    max-height: 100px;
    max-width: 350px;
  }
  
  footer {
    position: relative;
    margin-top: 90%;
  }
  footer .content {
    display: flex;
    justify-content: center;
    padding: 5px;
  }
}

@media (min-width: 768px) and (max-width: 1070px) {
  .project-container {
    width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 1045px) {
  .outerwrapper {
    width: 80%;
  }
}
