.standout {
  color: black;
  font-family: serif;
  background-color: white; 
  border-style: outset;
  border-width: 6px;
  border-color: darkgray; 
}

a:link {color: red; font-weight: bold;}
a:visited {color: red;}
a:focus, a:hover, a:active {color: silver;}